@page "/"
@inherits HomeBase
@attribute [StreamRendering]
@rendermode InteractiveServer
@using DungBeetle.Components.Pages.MemberListComponent
@using DungBeetle.Components.Pages.CalenderComponent

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class=" row">
	<div class="input-group mb-3">
		<span class="input-group-text">Year</span>
		<InputNumber @bind-Value="Year" class="form-control" />
		<span class="input-group-text">Month</span>
		<InputNumber @bind-Value="Month" class="form-control" max="12" min="1" />
	</div>
</div>

<MemberList Members="Members"></MemberList>
<button class="btn btn-primary" @onclick="Submit">Generate</button>

<hr />
<div>
	@if (Model.Days.Any())
	{
		<Calender Days="@Model.Days" Month="@Month" Year="@Year"></Calender>
		<hr />
		<table class="table table-striped">
			<thead>
			<th>Name</th>
			<th>主-平日(平均 @Model.WorkdayAvgDays)</th>
			<th>假日(平均 @Model.HolidayAvgDays)</th>
			<th>副-平日</th>
			<th>假日</th>
			</thead>
			<tbody>
			@foreach (var member in Model.Members)
			{
				<tr>
					<td>@member</td>
					<td>@Model.Days.Count(r => r.First == member && !r.IsHoliday)</td>
					<td>@Model.Days.Count(r => r.First == member && r.IsHoliday)</td>
					<td>@Model.Days.Count(r => r.Second == member && !r.IsHoliday)</td>
					<td>@Model.Days.Count(r => r.Second == member && r.IsHoliday)</td>
				</tr>
			}
			</tbody>
		</table>
	}
</div>